:root {

    /* color pallet 1 */
    --cp1-primary:#FBF0F0;
    --cp1-secondary:#DFD3D3;
    --cp1-third:#B8B0B0;
    --cp1-fourth:#7C7575;

    /* color pallete 2 */
    --cp2-primary:#F0ECE3;
    --cp2-secondary:#DFD3C3;
    --cp2-third:#C7B198;
    --cp2-fourth:#596E79;

    /* color pallete 3*/
    --cp3-primary:#06283D;
    --cp3-secondary:#256D85;
    --cp3-third:#47B5FF;
    --cp3-fourth:#DFF6FF;

    /* color pallete 4*/
    --cp4-primary:#212121;
    --cp4-secondary:#323232;
    --cp4-third:#0D7377;
    --cp4-fourth:#14FFEC;

    /* color pallete 5*/
    --cp5-primary:#F7FBFC;
    --cp5-secondary:#D6E6F2;
    --cp5-third:#B9D7EA;
    --cp5-fourth:#769FCD;

    /* Extras */
    --donations:#da8131;
    --bits:#374454;
    --gifted-subs:#77281b;
    --helper:#34211d;
    --clips: #36546c;
    --art:#cbad41;
    --edits:#183346;
    --activity:#b77a4d;
    --events:#db8b45;
    --certified-belpas:#db5e45;
    --hypesquad:#db457f;
    --beebs-punisher:#db4545;

    /* creamy colour aesthetic */    
    --cream-cream1: #efe3d3;
}