main {
    background-color: var(--cp2-secondary);
    padding: 150rem 50rem 25rem 50rem;
}

html, body, header, main, footer {
    overflow: hidden;
}

.yeet {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: var(--cp2-primary);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50rem;
    text-transform: uppercase;
    
}

.yeet img {
    max-height: 64rem;
    height: 100%;
    width: auto;
}

.yeet h1 {
    font-size: 68rem;
}

.yeet p {
    font-size: 40rem;
}

.socials-yeet {
    font-size: 48rem;
}
