@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1px;
    background-color: var(--cp2-primary);
    color: var(--cp2-fourth);
    font-family: 'Inconsolata', monospace;
    scroll-behavior: smooth;
    /* 
    making the ROOT font size 1rem 
    Calculation would change to 1rem * 20rem = 20rem
    We can do this since IE is no longer getting supported

    Increase/reduction would also be easy. 

        40% increase
        @media (min-width: 320rem){
            html{ font-size:1.4rem; }
        }

        20% increase
        @media (min-width: 600rem){
            html{ font-size:1.2rem; }
        }

        20% decrease
        @media (min-width: 1920rem) {
            html{ font-size: 0.8rem}
        }
    */
}

/* Sets the height and with to 100% of screen-size. Fixes horizontal overflow with max and 100%*/
html, body {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: var(--cp2-secondary);
}

html, body {
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


a {
    text-decoration: none;
    color: inherit;
    border-bottom: 3rem dotted transparent;
    outline: none;
    transition: all ease-in-out .3s;
    padding: 5rem;
    background-color: inherit;
    border-radius: 5rem;        
}

a:hover {
    border-bottom: 3rem dotted var(--cp1-fourth);
    color: var(--cp3-primary);
    background-color: var(--cp3-third);
}

a:focus {
    border-bottom: 3rem dotted var(--cp1-fourth);
    color: var(--cp3-primary);
    background-color: var(--cp3-third);
}
