@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
:root {
    --cp1 :#F0ECE3;
    --main: #1c1f2e;
    --secondary:#2b2d42;
    --third:#e41d60;
    --fourth:#841de4;
    --fifth:#e41d98;
    --linkedin: #0077b5;
    --twitter: #1DA1F2;
    --code: #94e2b2;
    --github: #f2cb1d;
    --paypal: #009cde;
    --twitch: #74cc80 ;
    --spotify: #1DB954;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: var(--main);
    color: var(--cp1);
    font-family: 'Inconsolata', monospace;
}

body {
    position: relative;
}

.body-svg {
    position: absolute;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

main,
footer
{
    position: relative;
}
header {
    z-index: 99;
    visibility: hidden;
}
main,
footer {
    z-index: 2;
}

header {
    padding: 10px 15px 10px 15px;
    position:sticky;
    top: 0;
    height: 5vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

nav img {
    max-width: 56px;
    height: auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.hero {
    gap: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 2.5vh;
    height: 100vh;
    display: grid;
    align-items: center;
}

.hero-flex {
    display: flex;
    justify-content:center;
    align-content: center;
    align-items: center;
    gap: 1.2rem;
}

.hero-info {
    max-width: 500px;
}

.hero-experience {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 25px;
}

.name-style {
    color: var(--fifth);
    font-weight: 600;
}

.hero img {
    max-width: 512px;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.grid-goto {
    width: 256px;
    height: 256px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.grid-goto-wrapper {
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.goto {
    background-color: var(--secondary);
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    border-radius: 5px;
    transition: all ease-in-out .1s;
}

.goto1 { grid-column: 2/4; grid-row: 2/3; }
.goto2 { grid-column:4/5; grid-row: 1/3;  }
.goto3 { grid-column: 1/4; grid-row: 1/1; }
.goto4 { grid-column: 1/1; grid-row: 2/4; }
.goto5 { grid-column: 2/5; grid-row: 3/3; }
.goto1:hover, .goto1:focus { background-color:  var(--fifth); }
.goto2:hover, .goto2:focus { background-color:  var(--fifth); }
.goto3:hover, .goto3:focus { background-color:  var(--fifth); }
.goto4:hover, .goto4:focus { background-color:  var(--fifth); }
.goto5:hover, .goto5:focus { background-color:  var(--fifth); }

.masonry-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto-fit);
    grid-auto-rows: repeat(1fr, auto);
    gap: 10px;
    height: 100vh;
}

.box {
    background-color: var(--secondary);
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    border-radius: 5px;
    transition: all ease-in-out .1s;
}

.box-1 {
    grid-column: 1/3;
}
.box-2 {
    grid-row: 2/4;
}
.box-3 {
    grid-row: 2/3;
    background-color: var(--third);
}
.box-4 {
    grid-row: 1/3;
}
.box-5 {
    background-color: var(--fifth);
}
.box-6 {
    /* I'm doing nothing */
    content: 'yeet';
}
.box-7 {
    grid-column: 2/5; 
    background-color: var(--fourth);
}


i {
    font-size: 2.5rem;
}

.link-context-wrapper > p {
    font-size: 1.5rem;
    max-width: 256px;
}

a {
    width: 100%;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.link-context-wrapper {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em; 
}


.box:hover .fa-linkedin,
.box:focus .fa-linkedin {
    color: var(--linkedin);
}

.box:hover .fa-twitter,
.box:focus .fa-twitter {
    color: var(--twitter);
}

.box:hover .fa-code,
.box:focus .fa-code {
    color: var(--code);
}

.box:hover .fa-github,
.box:focus .fa-github {
    color: var(--github);
}

.box:hover .fa-paypal,
.box:focus .fa-paypal {
    color: var(--paypal);
}

.box:hover .fa-twitch,
.box:focus .fa-twitch {
    color: var(--twitch);
}   

.box:hover .fa-spotify,
.box:focus .fa-spotify {
    color: var(--spotify);
}

@media only screen and (max-width: 650px) {
    header {
        height: auto;
        background-color: hsla(230, 24%, 15%, 0.5);
    }

    nav img {
        max-width: 28px;
        height: auto;
    }

    .hero {
        margin-top: 5px;
        height: auto;
        text-align: center;
    }

    .hero-txt1 {
        display: none;
    }

    .hero-flex {
        flex-direction: column;
    }

    .grid-goto {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .masonry-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
    }

    .box {
        grid-column: auto;
        grid-row: auto;
    }

    .box a {
        padding: 15px;
    }
}