@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
:root {
    --cp1 :#F0ECE3;
    --main: #1c1f2e;
    --secondary:#2b2d42;
    --third:#e41d60;
    --fourth:#841de4;
    --fifth:#e41d98;
    --linkedin: #0077b5;
    --twitter: #1DA1F2;
    --code: #171515;
    --github: #171515;
    --paypal: #009cde;
    --spotify: #1DB954;
    --discord : #5865F2;

    --dd:#a01443;
    --ddx:#6315ac;
    --ddxx:#ab1572;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: var(--main);
    color: var(--cp1);
    font-family: 'Inconsolata', monospace;
    overflow-x: hidden;
}

body {
    position: relative;
}

body::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.body-svg {
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: url(../../assets/layered-waves-haikei.svg);
    background-size: cover;
    z-index: 1;
    overflow: hidden;
}

.blob-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: grid;
    place-items: center;
}
.blob {
    width: 500px;
    height: 500px;
}
main,
footer
{
    position: relative;
}
header {
    z-index: 99;
    visibility: hidden;
}
main,
footer {
    z-index: 2;
}

header {
    padding: 10px 15px 10px 15px;
    position:sticky;
    top: 0;
    height: 10vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

nav img {
    max-width: 56px;
    height: auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.hero {
    gap: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 2.5vh;
    height: 100vh;
    display: grid;
    align-items: center;
}

.hero-flex {
    display: flex;
    justify-content:center;
    align-content: center;
    align-items: center;
    gap: 1.2rem;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    border-radius: 5px;
    background-color: rgba(19, 19, 29, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.hero-info {
    max-width: 500px;
}

.hero-info, .hero__info__img {
    z-index: 2;
}

.hero-txt1, .hero-txt2 {
    font-weight: bold;
}

.hero-experience {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 25px;
}

.name-style {
    color: var(--fifth);
    font-weight: 1000;
}

.hero img {
    max-width: 512px;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.hero__footer {
    display: flex;
}

.hero__foter > div {
    width: 100%;
}

.grid-goto {
    width: 256px;
    height: 256px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.grid-goto-wrapper {
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.goto {
    background-color: var(--secondary);
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    border-radius: 5px;
    transition: all ease-in-out .1s;
}

.goto1 { grid-column: 3/5; grid-row: 2/3; }
.goto2 { grid-column:5/7; grid-row: 1/3;  }
.goto3 { grid-column: 1/5; grid-row: 1/1; }
.goto4 { grid-column: 1/3; grid-row: 2/4; }
.goto5 { grid-column: 3/7; grid-row: 3/3; }
.goto1:hover, .goto1:focus { background-color:  var(--fifth); }
.goto2:hover, .goto2:focus { background-color:  var(--fifth); }
.goto3:hover, .goto3:focus { background-color:  var(--fifth); }
.goto4:hover, .goto4:focus { background-color:  var(--fifth); }
.goto5:hover, .goto5:focus { background-color:  var(--fifth); }

.masonry-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto-fit);
    grid-auto-rows: repeat(1fr, auto);
    gap: 10px;
    height: 100vh;
}

.box {
    background-color: var(--secondary);
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    border-radius: 5px;
    transition: all ease-in-out .1s;
}

.box a {
    transition: all ease-in-out .1s;
}

.box-1 {
    grid-column: 1/3;
}
.box-2 {
    grid-row: 2/4;
}
.box-3 {
    grid-row: 2/3;
    /*background-color: var(--third);*/
}
.box-4 {
    grid-row: 1/3;
}
/*
.box-5 {
    /* background-color: var(--fifth); 
}
*/
.box-6 {
    /* I'm doing nothing */
    content: 'yeet';
}
.box-7 {
    grid-column: 2/5; 
    /* background-color: var(--fourth); */
}


i {
    font-size: 2.5rem;
}

.link-context-wrapper > p {
    font-size: 1.5rem;
    max-width: 256px;
}

.link-context-wrapper > i {
    margin-bottom: .4em;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.goto a, .box a {
    width: 100%;
}

.link-context-wrapper {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em; 
    line-height: 1.2;
}


.box-3 { background-color: var(--third) }
.github-box:hover a { background-color: var(--github) }
.twitter-box:hover a { background-color: var(--twitter) }
.linkedin-box:hover a { background-color: var(--linkedin) }
.spotify-box:hover a { background-color: var(--spotify) }
.paypal-box:hover a { background-color: var(--paypal) }
.discord-box:hover a { background-color: var(--discord) }

.handle__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    font-size: 1.5rem;
    margin-bottom: .4em;
}


/**
* ! Resource Topic div
*/

.topic__div hr {
    margin: 2vh 0px
}

.resource__file__container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
}

.resource__file {
    padding: 10px 25px;
    background-color: var(--ddxx);
    border-radius: .75em;
    border-width: 2px;
    border-color: transparent;
    border-style: solid;
    transition: all ease-in-out .2s;
    color: var(--cp1);
    font-weight: 900;
    flex: 1 1 auto
}

.resource__file:hover {
    background: var(--code);
    border-color: var(--fifth);
    color: var(--cp1);
}


.d__none {
    display: none;
}
@media only screen and (max-width: 650px) {
    header {
        height: auto;
        background-color: hsla(230, 24%, 15%, 0.5);
    }

    nav img {
        max-width: 28px;
        height: auto;
    }

    .hero {
        margin-top: 5px;
        height: auto;
        text-align: center;
    }

    .hero-txt1 {
        display: none;
    }

    .hero-flex {
        flex-direction: column;
    }

    .grid-goto {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .masonry-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
    }

    .box {
        grid-column: auto;
        grid-row: auto;
    }

    .box a {
        padding: 15px;
    }
}